<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Bestellungen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}" />
  </head>
  <body>
    <header class="header">
      <h1>Pizzaria LaTorre - Adminbereich</h1>
    </header>
    <main>
      <div>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
      <table class="order-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Kunde</th>
            <th>Produkte</th>
            <th>Gesamt</th>
            <th>Lieferdetails</th>
            <th>Datum</th>
            <th>Zahlungsart</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody id="order-list">
          <!-- Bestellungen werden hier eingefügt -->
        </tbody>
      </table>
    </main>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
  </body>
</html>